:root {
	--bg-color: whitesmoke;

	--uprm-green: rgb(73, 141, 78);
	--card-color: white;
	--card-shadow: 0 0 10px 1px rgb(208, 208, 208);
}

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: var(--bg-color);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 24px;
	width: 100%;
}

h2 {
	font-size: 18px;
	width: 100%;
}

h3 {
	font-size: 15px;
	margin-bottom: 5px;
	width: 100%;
}

select {
	width: 100%;
	font-size: 14px;
	background: whitesmoke;
	border: 1px solid rgb(208, 208, 208);
}

select:hover {
	box-shadow: var(--card-shadow);
}

select:focus {
	background: rgb(244, 244, 244);
	box-shadow: var(--card-shadow);
}

label {
	font-size: 14px;
	min-width: max-content;
}

input[type="radio"] {
	min-width: max-content;
}

button {
	border: none;
	background: var(--uprm-green);
	color: white;
	padding: 5px;
	width: 25%;
	min-width: max-content;
}

button:hover {
	box-shadow: var(--card-shadow);
	cursor: pointer;
}

button:active {
	cursor: wait;
}

.banner {
	background: url(assets/img/ocean.png);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
	border-bottom: 5px solid var(--uprm-green);
	box-shadow: 0 1px 8px 0 rgb(0, 0, 0);
}

.logo {
	font-size: 20px;
	line-height: 70px;
	text-indent: 110px;
	color: white;
	background: url(assets/img/bio-optics_logo.png) no-repeat left;
	background-size: 100px;
	min-width: max-content;
}

.heading {
	display: block;
	color: black;
	margin-top: 100px;
	margin-left: 30px;
	font-size: 24px;
	font-weight: bold;
	width: calc(100% - 30px);
	height: auto;
}

.app-container {
	margin: 30px;
	width: calc(100% - 60px);
	height: 100%;
	display: flex;
	min-width: max-content;
}

.details-container {
	padding: 20px;
	width: 20%;
	height: max-content;
	margin-right: 20px;
	box-shadow: var(--card-shadow);
	background: var(--card-color);
}

.container-heading {
	width: 100%;
	border-bottom: 3px solid var(--uprm-green);
	text-align: center;
}

.detail {
	width: 100%;
	margin-top: 20px;
}

.confirm-button {
	margin-top: 20px;
	text-align: center;
}

.graph-container {
	padding: 20px;
	width: calc(90% - 20px);
	height: 100%;
	box-shadow: var(--card-shadow);
	background: var(--card-color);
}

.graph {
	width: 100%;
	height: 100%;
	margin-top: 5px;
}
