* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: linear-gradient(
		to right,
		hsl(115, 100%, 98%),
		hsl(216, 100%, 93%)
	);
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
	margin-bottom: 5px;
}

select {
	width: 100%;
	font-size: 14px;
	border: none;
	box-shadow: 0 0 1px 1px rgb(177, 177, 177);
	background: rgba(255, 255, 255, 10%);
}

select:hover {
	background: rgb(225, 225, 225);
	box-shadow: 0 0 3px 1px rgb(177, 177, 177);
}

select:focus {
	background: rgb(225, 225, 225);
	box-shadow: 0 0 3px 1px rgb(177, 177, 177);
}

label {
	font-size: 14px;
}

button {
	border: none;
	background: rgba(70, 134, 75, 90%);
	color: white;
	padding: 5px;
	width: 25%;
	min-width: max-content;
}

button:hover {
	background: hsl(124, 50%, 40%);
	box-shadow: 0 0 2px 1px rgb(54, 54, 54);
	cursor: pointer;
}

button:active {
	cursor: wait;
}

.banner {
	background: url(../assets/img/ocean.png);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
	border-bottom: 5px solid rgb(73, 141, 78);
	box-shadow: 0 1px 8px 0 rgb(0, 0, 0);
}

.logo {
	font-size: 20px;
	line-height: 70px;
	text-indent: 110px;
	color: white;
	background: url(../assets/img/bio-optics_logo.png) no-repeat left;
	background-size: 100px;
}

.heading {
	display: block;
	color: black;
	margin-top: 100px;
	margin-left: 30px;
	font-size: 24px;
	font-weight: bold;
	width: calc(100% - 30px);
	height: auto;
}

.app-container {
	margin: 30px;
	width: calc(100% - 60px);
	height: 100%;
	display: flex;
}

.details-container {
	padding: 20px;
	width: 20%;
	height: max-content;
	margin-right: 20px;
	box-shadow: 0 0 10px 1px rgb(182, 182, 182);
	background: hsla(0, 0%, 100%, 40%);
}

.container-heading {
	width: 100%;
	border-bottom: 3px solid rgb(73, 141, 78);
	text-align: center;
}

.detail {
	width: 100%;
	margin-top: 20px;
}

.confirm-button {
	margin-top: 20px;
	text-align: center;
}

.graph-container {
	padding: 20px;
	width: calc(90% - 20px);
	height: 100%;
	box-shadow: 0 0 10px 1px rgb(182, 182, 182);
	background: hsla(0, 0%, 100%, 40%);
}

.graph {
	width: 100%;
	height: 100%;
}
