:root {
	--bg-color: rgb(245, 245, 245);
	--uprm-green: rgb(73, 141, 78);
	--container-color: rgb(255, 255, 255);
	--container-shadow: 0 0 1rem 0.3rem rgb(205, 205, 205);
}

* {
	font-family: Arial;
}

body {
	margin: 0;
	background: var(--bg-color);
}

h1 {
	font-size: 24px;
	width: 100%;
}

h2 {
	font-size: 18px;
	width: 100%;
}

h3 {
	font-size: 15px;
	margin-bottom: 5px;
	width: 100%;
}

select {
	width: 85%;
	font-size: 14px;
	background: whitesmoke;
	border: 1px solid rgb(208, 208, 208);
}

select:hover {
	box-shadow: var(--container-shadow);
}

select:focus {
	background: rgb(244, 244, 244);
	box-shadow: var(--container-shadow);
}

label {
	font-size: 14px;
	min-width: max-content;
}

input[type="radio"] {
	min-width: max-content;
}

.banner {
	background: url(../assets/img/ocean.png);
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 0.5rem 0.2rem rgb(116, 116, 116);
}

.logo {
	font-size: 1.3rem;
	line-height: 4rem;
	text-indent: 8rem;
	color: white;
	background: url(../assets/img/bio-optics_logo.png) no-repeat left;
	background-size: 7rem;
}

.content-container,
.options-container,
.data-container {
	/* border: 1px solid black; */
}

.content-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}

.options-container {
	margin: 0.5rem;
	background: white;
	width: 15rem;
	background: var(--container-color);
	box-shadow: var(--container-shadow);
}

.data-container {
	margin: 0.5rem;
	background: white;
	width: 80%;
	height: 0;
	padding-bottom: 15%;
	min-width: 30rem;
	min-height: 30rem;
	background: var(--container-color);
	box-shadow: var(--container-shadow);
}

.heading-container {
	margin: 0;
	width: 100%;
	background: var(--uprm-green);
	color: white;
	text-align: center;
	box-shadow: 0 0.1rem 0.1rem 0 rgb(116, 116, 116);
}

.option {
	width: 100%;
	margin: 1rem;
}

.confirm-button {
	width: 100%;
	text-align: center;
}

#confirm-button {
	margin: 1rem;
	border: none;
	width: 4rem;
	height: 2rem;
	background: var(--uprm-green);
	color: white;
}

#confirm-button:hover {
	box-shadow: var(--container-shadow);
	cursor: pointer;
}

#confirm-button:active {
	cursor: wait;
}
